<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Student</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	
	<div class="container">
		<h2>Student</h2>
		
		<form class="form-vertical" action="/students/save"
			method="post" th:object="${student}">
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(field='name', label='Name', maxlength='30')"></div>
			</div>
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(field='age', label='Age', maxlength='2')"></div>
			</div>
			<div class="row">
				<div th:replace="fragments/form-select :: select(field='institution.id', label='Institution', options=${institutions})"></div>
			</div>			
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(field='address', label='Address', maxlength='100')"></div>
			</div>			
			<div class="row">
				<div class="form-group col-md-6">			
					<div th:replace="fragments/form-button :: submit(id='btn-submit', label='Add')"></div>
				</div>
			</div>
		</form>					
	</div>
	
	<div th:replace="fragments/fragments :: footer"></div>	
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>	
</body>
</html>