<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>User</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	
	<div class="container">
		<h2>User</h2>
		
		<form class="form-vertical" action="/users/save"
			method="post" th:object="${user}">
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(id='txt-name', name='name', label='Name', maxlength='85')"></div>
			</div>
			<div class="row">
				<div th:replace="fragments/form-select :: select(id='txt-role', name='role', label='Role', options=${roles})"></div>
			</div>			
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(id='txt-email', name='email', label='Email', maxlength='85')"></div>
			</div>
			<div class="row">
				<div th:replace="fragments/form-input :: input-password(id='txt-password', name='passwordEditable', label='Password', maxlength='85')"></div>
			</div>						
			<div class="row">
				<div class="form-group col-md-6">			
					<div th:replace="fragments/form-button :: submit(id='btn-submit', label='Add')"></div>
				</div>
			</div>
		</form>					
	</div>
	
	<div th:replace="fragments/fragments :: footer"></div>	
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>	
</body>
</html>