<!-- ** INPUT TEXT ** -->
<div class="form-group col-md-12" th:classappend="${#fields.hasErrors('__${field}__')} ? 'has-error' : null" th:fragment="input-text(field, label, maxlength)">
	<label class="control-label" th:for="${#strings.toLowerCase(field)}" th:text="${label}"></label>
	<input type="text" class="form-control" th:id="${#strings.toLowerCase(field)}" th:name="${#strings.toLowerCase(field)}" th:field="*{__${field}__}" th:maxlength="${maxlength}" />	
    <ul th:if="${#fields.hasErrors('__${field}__')}" class="help-block">
        <li th:each="error : ${#fields.errors('__${field}__')}" th:text="${error}" />
    </ul>
</div>

<!-- ** INPUT PASSWORD ** -->
<div class="form-group col-md-12" th:classappend="${#fields.hasErrors('__${field}__')} ? 'has-error' : null" th:fragment="input-password(field, label, maxlength)">
	<label class="control-label" th:for="${#strings.toLowerCase(field)}" th:text="${label}"></label>
	<input type="password" class="form-control" th:id="${#strings.toLowerCase(field)}" th:name="${#strings.toLowerCase(field)}" th:field="*{__${field}__}" th:maxlength="${maxlength}" autocomplete="false" placeholder="******" value="" />	
    <ul th:if="${#fields.hasErrors('__${field}__')}" class="help-block">
        <li th:each="error : ${#fields.errors('__${field}__')}" th:text="${error}" />
    </ul>
</div>