<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Institution</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	
	<div class="container">
		<h2>Institution</h2>
		
		<form class="form-vertical" action="/institutions/save"
			method="post" th:object="${institution}">
			<input type="hidden" th:field="*{id}" />
			
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(id='txt-name', name='name', label='Name', maxlength='30')"></div>
			</div>
			<div class="row">
				<div th:replace="fragments/form-input :: input-text(id='txt-address', name='address', label='Address', maxlength='100')"></div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">			
					<div th:replace="fragments/form-button :: submit(id='btn-submit', label='Save')"></div>
				</div>
			</div>
		</form>					
	</div>
	
	<div th:replace="fragments/fragments :: footer"></div>	
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>	
</body>
</html>