<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Users Roles</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div th:replace="fragments/fragments :: header"></div>
	
	<div class="container">
		<div th:replace="fragments/message-alert :: message-alert"></div>
		
		<h2>Users Roles</h2>
				
		<div class="row">
			<div class="form-group col-md-12">
				<input type="text" id="txt-search" class="form-control" />
				<button type="button" class="btn btn-default" id="btn-search">Search</button>
				<button type="button" class="btn btn-default" id="btn-reset">Reset</button>
				<a href="/roles/add" class="btn btn-default">New</a>
			</div>
		</div>
				
		<table class="table" id="tbl-data">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${roles}">
					<td th:text="${data.id}"></td>
					<td th:text="${data.name}"></td>
					<td>
						<a th:href="@{/roles/edit/{id}(id=${data.id})}">Edit</a>
						<a th:href="@{/roles/delete/{id}(id=${data.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>					
	</div>
	
	<div th:replace="fragments/fragments :: footer"></div>	
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>	
	<script type="text/javascript">
		$(document).ready(function(){
			
			$('#txt-search').keydown(function(event){ 
			    var keyCode = (event.keyCode ? event.keyCode : event.which);   
			    if (keyCode == 13) {
			        $('#btn-search').trigger('click');
			    }
			});			
			
			$('#btn-reset').click(function(){
				$.ajax({
					method: 'GET',
					url: '/roles/searchByName',
					success: function(data){
						$('#tbl-data tbody > tr').remove();
						$('#txt-search').val('');
						$.each(data, function(){
							$('#tbl-data tbody').append(
								'<tr>' +
								'	<td>' + this.id + '</td>'  +
								'	<td>' + this.name + '</td>'  +
								'	<td>' +
								'		<a href="/roles/edit/' + this.id + '">Edit</a> | ' +
								'		<a href="/roles/delete/' + this.id + '">Delete</a>' +
								'	</td>' + 
								'</tr>'
							);
						});
					},
					error: function(){
						alert("Can't possible to execute the reset");
					}					
					
				});
			});
			
			$('#btn-search').click(function(){
				$.ajax({
					method: 'GET',
					url: '/roles/searchByName/' + $('#txt-search').val(),
					success: function(data){
						$('#tbl-data tbody > tr').remove();						
						$.each(data, function(){
							$('#tbl-data tbody').append(
								'<tr>' +
								'	<td>' + this.id + '</td>'  +
								'	<td>' + this.name + '</td>'  +
								'	<td>' +
								'		<a href="/roles/edit/' + this.id + '">Edit</a> | ' +
								'		<a href="/roles/delete/' + this.id + '">Delete</a>' +
								'	</td>' + 
								'</tr>'
							);
						});
					},
					error: function(){
						alert("Can't possible to execute the search by " + $('#txt-search').val());
					}
				});
			});
			
		});
	</script>	
</body>
</html>